<section class="relative py-32 lg:py-36 bg-[#f2efe8] z-10">
    <div
      class="mx-auto lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5 flex flex-col lg:flex-row gap-10 lg:gap-12"
    >
      <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 hidden lg:block">
        <span
          class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-[#949c8c] blur-xl opacity-60 lg:opacity-95 lg:block hidden"
        ></span>
        <span
          class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-[#e08448] blur-xl opacity-80"
        ></span>
      </div>
      <span
        class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-[#e08448] to-[#eabe87] absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
      ></span>
      <section
        class="mx-auto flex max-w-lg flex-col px-4 py-10 lg:max-w-screen-xl lg:flex-row"
      >
        <div class="max-w-md pr-20 lg:pt-28">
          <img
            src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/601074ed0f05cd25097215a4_6002086f72b7277e1f01d682_ryan-morrison-illustration-1.png"
            alt=""
          />
        </div>
        <div class="">
          <div
            class="mb-5 flex h-16 w-16 items-center justify-center rounded-full bg-orange-600 text-white shadow-lg shadow-orange-600/20"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
              />
            </svg>
          </div>
          <h2
            class="mb-10 max-w-lg text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug"
          >
           Find the job most suitable for you
          </h2>
          <div class="grid gap-y-12 gap-x-8 lg:grid-cols-2">
            <div>
              <p
                class="mb-6 border-l-4 border-orange-600 pl-4 text-2xl leading-10"
              >
                More than 10000+ listings
              </p>
              <p class="text-lg text-gray-800">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
                nihil reprehenderit laboriosam, exercitationem consectetur
                deserunt aliquam ab maiores!
              </p>
            </div>
            <div>
              <p
                class="mb-6 border-l-4 border-orange-600 pl-4 text-2xl leading-10"
              >
                All kind of jobs
              </p>
              <p class="text-lg text-gray-800">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
                nihil reprehenderit laboriosam, exercitationem consectetur
                deserunt aliquam ab maiores!
              </p>
            </div>
            <div>
              <p
                class="mb-6 border-l-4 border-orange-600 pl-4 text-2xl leading-10"
              >
                Quick Applications
              </p>
              <p class="text-lg text-gray-800">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
                nihil reprehenderit laboriosam, exercitationem consectetur
                deserunt aliquam ab maiores!
              </p>
            </div>
            <div>
              <p
                class="mb-6 border-l-4 border-orange-600 pl-4 text-2xl leading-10"
              >
                Quick Responses
              </p>
              <p class="text-lg text-gray-800">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam
                nihil reprehenderit laboriosam, exercitationem consectetur
                deserunt aliquam ab maiores!
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
