<div class="relative w-full flex justify-center flex-col items-center">
  <div class="container">
    <h1 class="text-xl font-bold mb-6">Browse between Job types</h1>
  </div>
  <div class="container grid sm:grid-cols-4 gap-4 grid-cols-2">
    <div class="rounded-md flex flex-col">
      <ul class="">
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
      </ul>
    </div>
    <div class="rounded-md flex flex-col">
      <ul class="">
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
      </ul>
    </div>
    <div class="rounded-md flex flex-col">
      <ul class="">
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
      </ul>
    </div>
    <div class="rounded-md flex flex-col">
      <ul class="">
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
        <li class="flex h-12 items-center">
          <button class="hover:underline hover:text-orange-400">job type</button>
          <span
            class="text-gray-800 ml-2 bg-orange-400 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
            >14</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
