<header class="z-50">
  <div class="w-screen">
    <nav class="flex justify-between bg-[#EB9733] text-[#f2efe8]">
      <div class="px-5 xl:px-12 py-2 flex w-full items-center">
        <img class="h-20" src="../../assets/HomeLogo.jpg" alt="Description" />

        <!-- Nav Links -->
        <ul
          class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12"
        >
          <li>
            <a routerLink="/Home" class="hover:text-gray-600" href="#"
              >All listings</a
            >
          </li>
          <li>
            <a routerLink="/Home/Companies" class="hover:text-gray-600" href="#"
              >Company Ratings</a
            >
          </li>
        </ul>

        <div class="hidden xl:flex items-center space-x-5 items-center">
          <a routerLink="/Home/Saved" class="hover:text-gray-600 flex" href="#">
            <p class="mr-2 font-semibold font-heading">Profile</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 hover:text-gray-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </a>

          <!-- Sign In / Register      -->
          <a class="flex items-center hover:text-gray-600" href="#">
           
          </a>
        </div>
      </div>
      <!-- Responsive navbar -->
     
      <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
        
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 hover:text-gray-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </a>
    </nav>
  </div>
</header>
