<!-- Container for demo purpose -->
<div class="container mx-auto md:px-32 bg-[#f2efe8]">
  <!-- Section: Design Block -->
  <section class="pb-32">
    <style>
      .zoom:hover img {
        transform: scale(1.1);
      }
    </style>

    <h2 class="mb-12 text-center text-4xl font-bold">
      Popular <u class="text-primary dark:text-primary-400"> Jobs</u>
    </h2>

    <div class="grid gap-6 lg:grid-cols-3">
      <div>
        <div
          class="relative group border-[#c2bfba] border-2 rounded-md p-4 lg:p-8"
        >
          
            <button
              class="absolute top-12 right-10 text-[#30302e] transition-all duration-300 hover:scale-110 hover:text-red-600"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6"
          >
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M15 6H9"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
            </button>
          
          <div class="flex items-center gap-x-2">
            <img
              class=" w-16"
              src="https://img.icons8.com/fluency/48/null/mac-os.png"
            />
            <div>
              <h3 class="text-xl font-bold text-[#30302e]">Apple</h3>
              <span class="text-xs text-[#30302e]">New location, USA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-medium text-[#30302e]">UI/UX Designer</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-black">HTML</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">CSS</span>
              <span class="m-1 ml-0 inline-block text-pink-500">FIGMA</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Ad. XD</span>
              <span class="m-1 ml-0 inline-block text-black"
                >Illustrator</span
              >
            </div>
            <div class="mt-2 text-sm text-gray-400">$60K - $100K per year</div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium text-[#30302e]">Full Time</span>
            <a
              class="font-medium text-black transition-all duration-300 group-hover:text-black/80"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <div>
        <div
          class="relative group border-[#c2bfba] border-2 rounded-md p-4 lg:p-8"
        >
          
            <button
              class="absolute top-12 right-10 text-[#30302e] transition-all duration-300 hover:scale-110 hover:text-red-600"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6"
          >
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M15 6H9"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
            </button>
          
          <div class="flex items-center gap-x-2">
            <img
              class=" w-16"
              src="https://static.vecteezy.com/system/resources/previews/023/986/555/non_2x/instagram-logo-instagram-logo-transparent-instagram-icon-transparent-free-free-png.png"
            />
            <div>
              <h3 class="text-xl font-bold text-[#30302e]">Apple</h3>
              <span class="text-xs text-[#30302e]">New location, USA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-medium text-[#30302e]">UI/UX Designer</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-black">HTML</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">CSS</span>
              <span class="m-1 ml-0 inline-block text-pink-500">FIGMA</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Ad. XD</span>
              <span class="m-1 ml-0 inline-block text-black"
                >Illustrator</span
              >
            </div>
            <div class="mt-2 text-sm text-gray-400">$60K - $100K per year</div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium text-[#30302e]">Full Time</span>
            <a
              class="font-medium text-black transition-all duration-300 group-hover:text-black/80"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <div>
        <div
          class="relative group border-[#c2bfba] border-2 rounded-md p-4 lg:p-8"
        >
          
            <button
              class="absolute top-12 right-10 text-[#30302e] transition-all duration-300 hover:scale-110 hover:text-red-600"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6"
          >
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M15 6H9"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
            </button>
          
          <div class="flex items-center gap-x-2">
            <img
              class=" w-16"
              src="https://1000logos.net/wp-content/uploads/2021/10/logo-Meta.png"
            />
            <div>
              <h3 class="text-xl font-bold text-[#30302e]">Apple</h3>
              <span class="text-xs text-[#30302e]">New location, USA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-medium text-[#30302e]">UI/UX Designer</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-black">HTML</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">CSS</span>
              <span class="m-1 ml-0 inline-block text-pink-500">FIGMA</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Ad. XD</span>
              <span class="m-1 ml-0 inline-block text-black"
                >Illustrator</span
              >
            </div>
            <div class="mt-2 text-sm text-gray-400">$60K - $100K per year</div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium text-[#30302e]">Full Time</span>
            <a
              class="font-medium text-black transition-all duration-300 group-hover:text-black/80"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <div>
        <div
          class="relative group border-[#c2bfba] border-2 rounded-md p-4 lg:p-8"
        >
          
            <button
              class="absolute top-12 right-10 text-[#30302e] transition-all duration-300 hover:scale-110 hover:text-red-600"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6"
          >
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M15 6H9"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
            </button>
          
          <div class="flex items-center gap-x-2">
            <img
              class=" w-16"
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_"G"_logo.svg/1024px-Google_"G"_logo.svg.png'
            />
            <div>
              <h3 class="text-xl font-bold text-[#30302e]">Apple</h3>
              <span class="text-xs text-[#30302e]">New location, USA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-medium text-[#30302e]">UI/UX Designer</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-black">HTML</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">CSS</span>
              <span class="m-1 ml-0 inline-block text-pink-500">FIGMA</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Ad. XD</span>
              <span class="m-1 ml-0 inline-block text-black"
                >Illustrator</span
              >
            </div>
            <div class="mt-2 text-sm text-gray-400">$60K - $100K per year</div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium text-[#30302e]">Full Time</span>
            <a
              class="font-medium text-black transition-all duration-300 group-hover:text-black/80"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <div>
        <div
          class="relative group border-[#c2bfba] border-2 rounded-md p-4 lg:p-8"
        >
          
            <button
              class="absolute top-12 right-10 text-[#30302e] transition-all duration-300 hover:scale-110 hover:text-red-600"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6"
          >
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M15 6H9"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
            </button>
          
          <div class="flex items-center gap-x-2">
            <img
              class=" w-16"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Ubisoft_logo.svg/2238px-Ubisoft_logo.svg.png"
            />
            <div>
              <h3 class="text-xl font-bold text-[#30302e]">Apple</h3>
              <span class="text-xs text-[#30302e]">New location, USA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-medium text-[#30302e]">UI/UX Designer</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-black">HTML</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">CSS</span>
              <span class="m-1 ml-0 inline-block text-pink-500">FIGMA</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Ad. XD</span>
              <span class="m-1 ml-0 inline-block text-black"
                >Illustrator</span
              >
            </div>
            <div class="mt-2 text-sm text-gray-400">$60K - $100K per year</div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium text-[#30302e]">Full Time</span>
            <a
              class="font-medium text-black transition-all duration-300 group-hover:text-black/80"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <div>
        <div
          class="relative group border-[#c2bfba] border-2 rounded-md p-4 lg:p-8"
        >
          
            <button
              class="absolute top-12 right-10 text-[#30302e] transition-all duration-300 hover:scale-110 hover:text-red-600"
            >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            class="w-6 h-6"
          >
            <path
              d="M3 11.0975V16.0909C3 19.1875 3 20.7358 3.73411 21.4123C4.08422 21.735 4.52615 21.9377 4.99692 21.9915C5.98402 22.1045 7.13675 21.0849 9.44216 19.0458C10.4612 18.1445 10.9708 17.6938 11.5603 17.5751C11.8506 17.5166 12.1494 17.5166 12.4397 17.5751C13.0292 17.6938 13.5388 18.1445 14.5578 19.0458C16.8633 21.0849 18.016 22.1045 19.0031 21.9915C19.4739 21.9377 19.9158 21.735 20.2659 21.4123C21 20.7358 21 19.1875 21 16.0909V11.0975C21 6.80891 21 4.6646 19.682 3.3323C18.364 2 16.2426 2 12 2C7.75736 2 5.63604 2 4.31802 3.3323C3.5108 4.14827 3.19796 5.26881 3.07672 7"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M15 6H9"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
            </button>
          
          <div class="flex items-center gap-x-2">
            <img
              class=" w-16"
              src="https://img.icons8.com/fluency/48/null/mac-os.png"
            />
            <div>
              <h3 class="text-xl font-bold text-[#30302e]">Apple</h3>
              <span class="text-xs text-[#30302e]">New location, USA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-medium text-[#30302e]">UI/UX Designer</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-black">HTML</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">CSS</span>
              <span class="m-1 ml-0 inline-block text-pink-500">FIGMA</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Ad. XD</span>
              <span class="m-1 ml-0 inline-block text-black"
                >Illustrator</span
              >
            </div>
            <div class="mt-2 text-sm text-gray-400">$60K - $100K per year</div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium text-[#30302e]">Full Time</span>
            <a
              class="font-medium text-black transition-all duration-300 group-hover:text-black/80"
              >Apply Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
